.About
    background-color: #fffaf3
    padding: 0 0 5vh 0
    .about-child
        padding-top: 8vh
        padding-right: 3vw
        display: flex
        justify-content: start
        gap: 4vw
        h2
            color: #5f5950
            font-family: satisfy
        p
            color: gray
    .check
        display: flex
        gap: 10px
        i
            color: #ffa012
            font-size: 20px
        p
            color: #2d2d2d
            font-size: 17px
    span
        font-weight: bold


















@font-face
    font-family: satisfy
    src: url(./public/fonts/Satisfy-Regular.ttf)
