.title
    text-align: center
    h2
        font-family: satisfy
        font-weight: bold
        span
            color: #ffa012
.img-child
    overflow: hidden
    position: relative
    .gallerys
        width: 24vw
        padding: 3px
        overflow: hidden
        position: relative
        img
            width: 100%
            &:hover
                transform: scale(1.03)
    


    



    
